{% extends "layout.html" %}
{% block content%}
	<div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="content-left hidden-xs hidden-sm col-md-2 col-lg-2">
			<div class="search metro col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<form role="form" method="post" action="" autocomplete="on">
					<input class="form-control" type="text" name="search" pattern="^[\u4E00-\u9FA5A-Za-z0-9]+$" placeholder=" Input Your Content To Search.">
					<i class="fa fa-search input-group-addons"></i>
				</form>
			</div>
			<div class="tag metro col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<button type="button" class="btn btn-sm btn-yige"> fdvfasdasdf </button>
				<button type="button" class="btn btn-sm btn-yige"> assssd </button>
				<button type="button" class="btn btn-sm btn-yige"> asd12 </button>
				<button type="button" class="btn btn-sm btn-yige"> 213 </button>
				<button type="button" class="btn btn-sm btn-yige"> fdvfa213sdf </button>
				<button type="button" class="btn btn-sm btn-yige"> fdvfasdf </button>
				<button type="button" class="btn btn-sm btn-yige"> fzxv </button>
				<button type="button" class="btn btn-sm btn-yige"> dfaf </button>
				<button type="button" class="btn btn-sm btn-yige"> 1 </button>
				<button type="button" class="btn btn-sm btn-yige"> fdvasfafasdf </button>
			</div>
			<div class="time metro col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="clock">
					<svg id='clock'></svg>
				</div>
			</div>
		</div>
		<div class="content-center col-xs-12 col-sm-12 col-md-7 col-lg-7">
			<div class="metros col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="metro">
					<h4> article title</h4>
					<p>introduce</p>
					<span>
						<a href="#"><i class="fa fa-yige fa-commenting-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-heart-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-send-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-thumbs-o-up"></i></a>
						<a href="#"><i class="fa fa-yige fa-thumbs-o-down"></i></a>
					</span>
				</div>
			</div>
			<div class="metros col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="metro">
					<img alt="picture" src="{{static}}image/cover.jpg">
					<span>
						<a href="#"><i class="fa fa-yige fa-commenting-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-heart-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-send-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-thumbs-o-up"></i></a>
						<a href="#"><i class="fa fa-yige fa-thumbs-o-down"></i></a>
					</span>
				</div>
			</div>
			<div class="metros col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="metro">
					<p> touch bar </p>
					<p> introduce </p>
					<span>
						<a href="#"><i class="fa fa-yige fa-commenting-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-heart-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-send-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-thumbs-o-up"></i></a>
						<a href="#"><i class="fa fa-yige fa-thumbs-o-down"></i></a>
					</span>
				</div>
			</div>
			<div class="metros col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="metro">
					<img alt="picture" src="{{static}}image/cover.jpg">
					<ul>
						<li> vedio title </li>
						<li> action / humeral / horrible </li>
						<li> actor1 / actress1 / actor2 / actress2 </li>
						<li> china / american / french </li>
						<li> 2016-11-10 </li>
					</ul>
					<p> introduce </p>
					<span>
						<a href="#"><i class="fa fa-yige fa-commenting-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-heart-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-send-o"></i></a>
						<a href="#"><i class="fa fa-yige fa-thumbs-o-up"></i></a>
						<a href="#"><i class="fa fa-yige fa-thumbs-o-down"></i></a>
					</span>
				</div>
			</div>
			<div class="metros col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="metro">
					5<br/>
				</div>
			</div>
			<div class="metros col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="metro">
					6<br/><br/><br/>
				</div>
			</div>
			<div class="metros col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="metro">
					7<br/>
				</div>
			</div>
			<div class="metros col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="metro">
					8<br/><br/>
				</div>
			</div>
		</div>
		<div class="content-right hidden-xs hidden-sm col-md-2 col-lg-2">
			<div class="top-product list-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<a href="#" class="list-group-item"><span class="badge"> 1 </span>Dapibus ac facilisis in</a>
				<a href="#" class="list-group-item"><span class="badge"> 2 </span>Morbi leo risus</a>
				<a href="#" class="list-group-item"><span class="badge"> 3 </span>Porta ac consectetur ac</a>
				<a href="#" class="list-group-item"><span class="badge"> 4 </span>Vestibulum at eros</a>
				<a href="#" class="list-group-item"><span class="badge"> 5 </span>Vestibulum at eros</a>
			</div>
			<div class="top-user metro list-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul>
					<li>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
					</li>
					<li>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
					</li>
					<li>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
					</li>
					<li>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
						<a href="#" ><img src="{{static}}image/head.jpg"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="welcome">
		<div class="content">
			<p class="lg hidden-xs hidden-sm hidden-md">Welcome</p>
			<p class="md hidden-xs hidden-sm hidden-lg">Welcome</p>
			<p class="sm hidden-xs hidden-md hidden-lg">Welcome</p>
			<p class="xs hidden-sm hidden-md hidden-lg">Welcome</p>
			<a href="./login">improve the personal data.</a>
		</div>
		<i class="fa fa-3x fa-close" aria-hidden="true"></i>
	</div>
{% endblock %}