<form class="form-horizontal" role="form" autocomplete="on">
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<input type="hidden" name="type" value="1">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<input class="form-control" type="text" name="title" placeholder=" Title" required="true">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<input class="form-control" type="text" name="tag" placeholder=" Tag" required="true"/>
		</div>
	</div>
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<textarea class="simplemde" name="content" placeholder=" Content..." required="true"></textarea>
	</div>
	<div class="form-button btn-group form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<button type="button" class="submit btn btn-lg btn-yige"> Submit </button>
		<button type="reset" data-type='articel' class="btn btn-lg btn-default"> Reset </button>
	</div>
</form>